<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suave.newworld.dao.FollowsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.suave.newworld.beans.db.Follows">
        <result column="user_id" property="userId" />
        <result column="follow_id" property="followId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, follow_id
    </sql>

</mapper>
