<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suave.newworld.dao.CommentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.suave.newworld.beans.Comments">
        <id column="id" property="id" />
        <result column="body" property="body" />
        <result column="article_id" property="articleId" />
        <result column="user_id" property="userId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, body, article_id, user_id, created_at, updated_at, version
    </sql>

    <resultMap id="CommentsOutput" type="com.suave.newworld.beans.output.CommentsOutput">
        <id property="id" column="id" />
        <result property="body" column="body" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <association property="author" javaType="com.suave.newworld.beans.output.Author">
            <result property="username" column="author_username"/>
            <result property="id" column="author_id"/>
            <result property="bio" column="author_bio"/>
            <result property="image" column="author_image"/>
        </association>
    </resultMap>

    <select id="findCommentsByArticleId" resultMap="CommentsOutput">
        select
            c.id, c.body, c.created_at, c.updated_at,
            u.username as author_username,u.bio as author_bio,u.image as author_image,u.id as author_id
        from
            comments as c
        left join
            users as u
        on
            c.user_id = u.id
        where
            c.article_id = #{id}
        order by updated_at desc
    </select>

</mapper>
